.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox___3Mmg3 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox___3Mmg3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___3Mmg3 > :global(.__wab_flex-container) > *,
.freeBox___3Mmg3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Mmg3 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Mmg3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__xiAj6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__nRcna {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__kQyXr {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__trY5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___0ZxX4:global(.__wab_instance) {
  position: relative;
}
.svg__jthSp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dwWro {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__vpDpV:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__c7FG5 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__tfq3X {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__mnS8M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__bzH:global(.__wab_instance) {
  position: relative;
}
.svg__sKkoW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bQoxE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__i47V:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__vOvXy {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__iZ4FP {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__liAIb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__v2Pf4:global(.__wab_instance) {
  position: relative;
}
.svg__nCKh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ppnlQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
