.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__lCiL {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__lCiL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__lCiL > :global(.__wab_flex-container) > *,
.freeBox__lCiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lCiL > :global(.__wab_flex-container) > picture > img,
.freeBox__lCiL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lCiL {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lCiL > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lCiL > :global(.__wab_flex-container) > *,
  .freeBox__lCiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lCiL > :global(.__wab_flex-container) > picture > img,
  .freeBox__lCiL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___9NpfU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___9NpfU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9NpfU > :global(.__wab_flex-container) > *,
.freeBox___9NpfU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9NpfU > :global(.__wab_flex-container) > picture > img,
.freeBox___9NpfU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__s4JT4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__ikIc {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__fhRc2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jDqJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gzMi9:global(.__wab_instance) {
  position: relative;
}
.svg__ygXKz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Rryf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__mys6X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mys6X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mys6X > :global(.__wab_flex-container) > *,
.freeBox__mys6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mys6X > :global(.__wab_flex-container) > picture > img,
.freeBox__mys6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__tLJmu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox___7Axf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___7Axf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___7Axf > :global(.__wab_flex-container) > *,
.freeBox___7Axf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Axf > :global(.__wab_flex-container) > picture > img,
.freeBox___7Axf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__lCfbs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__uowoU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___9743:global(.__wab_instance) {
  position: relative;
}
.svg___2Z9Ub {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__poE1W {
  height: auto;
}
.svg__z9T5U {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jw6Y6:global(.__wab_instance) {
  position: relative;
}
.svg__qysUc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__laIqg {
  height: auto;
}
.svg__fB42T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__r4NDj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__r4NDj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r4NDj > :global(.__wab_flex-container) > *,
.freeBox__r4NDj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r4NDj > :global(.__wab_flex-container) > picture > img,
.freeBox__r4NDj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__g5W9J {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__s4WuK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__mdWzy {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mdWzy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mdWzy > :global(.__wab_flex-container) > *,
.freeBox__mdWzy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mdWzy > :global(.__wab_flex-container) > picture > img,
.freeBox__mdWzy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__wpHQz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yfHd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ylor1:global(.__wab_instance) {
  position: relative;
}
.svg__d294 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gyUkx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__foDa:global(.__wab_instance) {
  position: relative;
}
.svg__fTj7I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1LcTf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qhZ7B:global(.__wab_instance) {
  position: relative;
}
.svg__lbSin {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eApO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___2R13A {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___2R13A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___2R13A > :global(.__wab_flex-container) > *,
.freeBox___2R13A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2R13A > :global(.__wab_flex-container) > picture > img,
.freeBox___2R13A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__qUi7B:global(.__wab_instance) {
  position: relative;
}
.svg__zhkmf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sl0Bp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eJmi:global(.__wab_instance) {
  position: relative;
}
.svg__jyih {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vI3Vv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ynl9L:global(.__wab_instance) {
  position: relative;
}
.svg__ceHjc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iZsrP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
