.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section___24Sx1 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/medusa_2_3_1/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___24Sx1 {
    padding-bottom: 0px;
  }
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__y2BI2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__y2BI2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__y2BI2 > :global(.__wab_flex-container) > *,
.freeBox__y2BI2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y2BI2 > :global(.__wab_flex-container) > picture > img,
.freeBox__y2BI2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__loYkm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__loYkm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__loYkm > :global(.__wab_flex-container) > *,
.freeBox__loYkm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__loYkm > :global(.__wab_flex-container) > picture > img,
.freeBox__loYkm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__zhzwT {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-Yt1ep0PtgX0P);
  min-width: 0;
}
.button__vRvWx:global(.__wab_instance) {
  position: relative;
}
.svg__pibwf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__idqDg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__uOwlN {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox___8DvJd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__bjIa1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__wnAmp:global(.__wab_instance) {
  position: relative;
}
.svg___2Yzfq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vz2Ut {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.productCollection__xnezr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__zvhA {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: auto;
  height: auto;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  padding: 8px;
}
.freeBox__lgfDb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.productCard__iZOx:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.svg__uFm0X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9KYxf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__c7Eo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__g10KZ {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-ZSdaFJ9o74RW);
  min-width: 0;
}
.rating:global(.__wab_instance) {
  position: relative;
}
.text__sciXf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kttn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xSv41 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.section___7Bqno {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__p0Lny {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__p0Lny > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p0Lny > :global(.__wab_flex-container) > *,
.freeBox__p0Lny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p0Lny > :global(.__wab_flex-container) > picture > img,
.freeBox__p0Lny
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p0Lny {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p0Lny > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p0Lny > :global(.__wab_flex-container) > *,
  .freeBox__p0Lny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p0Lny > :global(.__wab_flex-container) > picture > img,
  .freeBox__p0Lny
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__lsv8L {
  display: flex;
  flex-direction: column;
}
.freeBox__lsv8L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lsv8L > :global(.__wab_flex-container) > *,
.freeBox__lsv8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lsv8L > :global(.__wab_flex-container) > picture > img,
.freeBox__lsv8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___3DCzE {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3DCzE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3DCzE > :global(.__wab_flex-container) > *,
.freeBox___3DCzE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3DCzE > :global(.__wab_flex-container) > picture > img,
.freeBox___3DCzE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pqmqg {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text___3Bk2X {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__a80H6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__a80H6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__a80H6 > :global(.__wab_flex-container) > *,
.freeBox__a80H6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a80H6 > :global(.__wab_flex-container) > picture > img,
.freeBox__a80H6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a80H6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a80H6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a80H6 > :global(.__wab_flex-container) > *,
  .freeBox__a80H6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a80H6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__a80H6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__mijt0 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__eUE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lwhao {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nOyrN {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__tM8Tl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__sCblV {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__uFe9C {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__gcQte {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__fbeHx:global(.__wab_instance) {
  position: relative;
}
.svg__lpi1B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mP0VD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__t3IaE {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__bbr2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__fhQjw {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__woC76 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__v3Q9T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__nusQ4:global(.__wab_instance) {
  position: relative;
}
.svg__zBPgZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y21Xw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___9XUvv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__dCbHh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__dCbHh:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___3Pof4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___8Vxza {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__ff7Kk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___9Z6Pa:global(.__wab_instance) {
  position: relative;
}
.svg___9OuvQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lLWz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__n9OP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__xc2Sl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__j8HPo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___7HYb9:global(.__wab_instance) {
  position: relative;
}
.svg___0JWfn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rqSvg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__wBTR {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__wBTR > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__wBTR > :global(.__wab_flex-container) > *,
.freeBox__wBTR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wBTR > :global(.__wab_flex-container) > picture > img,
.freeBox__wBTR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.productCollection__lGKp8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg__uAQsa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d6Js {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__iedLg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__dYbVb {
  width: 100%;
  height: auto;
  color: var(--token-ZSdaFJ9o74RW);
  text-align: left;
  min-width: 0;
}
.rating__fGmct:global(.__wab_instance) {
  position: relative;
}
.text__eBsZy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__he3IH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section___5Eg8R {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: 500px;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__xouPo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xouPo > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xouPo > :global(.__wab_flex-container) > *,
.freeBox__xouPo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xouPo > :global(.__wab_flex-container) > picture > img,
.freeBox__xouPo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__xEQd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__o4Gar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__juI3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__awWGm {
  height: auto;
}
.svg__ezx5M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.categoryCollection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button___7EZ3N:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__wlga {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iszxY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__q2Hy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__gl1Ct {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kKoUe {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox__kKoUe > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kKoUe > :global(.__wab_flex-container) > *,
.freeBox__kKoUe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kKoUe > :global(.__wab_flex-container) > picture > img,
.freeBox__kKoUe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKoUe > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCollection___7YwwZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.productCard___0ZEuF:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jfhxX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nC0Rc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__g8JY0:global(.__wab_instance) {
  position: relative;
}
.text__lzIqb {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mk2Cu {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-ZSdaFJ9o74RW);
  min-width: 0;
}
.text__xgIrs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___41BNa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kuEiq {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 24px;
  min-width: 0;
  padding: 8px;
}
.productCollection__e1ALb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.productCard___8XoCi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__l0Rb3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9KHt4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__cz1Iv:global(.__wab_instance) {
  position: relative;
}
.text__qOq46 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__kjrOq {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-ZSdaFJ9o74RW);
  min-width: 0;
}
.text___1HbAy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zwbo1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__bCoTf {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__s01TJ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___6XRJ {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text___1ZiTc {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__h2QO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__byHam:global(.__wab_instance) {
  position: relative;
}
.svg__cKujm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lyTsg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__n5TZr {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aCUoh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__cxue:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__cxue:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___1UfId {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__vQlXz {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__xxpsK:global(.__wab_instance) {
  position: relative;
}
.svg___1Dvl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oc6OL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ju7Hz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__agsTc:global(.__wab_instance) {
  position: relative;
}
.svg__vIru {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yKiAl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__zRi4J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___3G9Hh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___3G9Hh:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__ncUIs {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__yBUzB {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__cf239:global(.__wab_instance) {
  position: relative;
}
.svg__p3KA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__airJ7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___61Ls {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___1BscX:global(.__wab_instance) {
  position: relative;
}
.svg__fmUne {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lmtv1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__smo6C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__qUBsl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__qUBsl:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__aw8MM {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___6WKja {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__zcR6N:global(.__wab_instance) {
  position: relative;
}
.svg__lJTwK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dLOmM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gwIl2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__c81RN:global(.__wab_instance) {
  position: relative;
}
.svg__x8X9N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__heN7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__t6Ka2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__dE1KB:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__dE1KB:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__w8QHa {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__r59BU {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__yQlMe:global(.__wab_instance) {
  position: relative;
}
.svg__imVon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qbemz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__y3Qck {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__aezr5:global(.__wab_instance) {
  position: relative;
}
.svg__ngShr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__j8FpF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
