.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.cartProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.sectionempty {
  left: auto;
  top: auto;
}
.freeBox__kltxW {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__kltxW > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kltxW > :global(.__wab_flex-container) > *,
.freeBox__kltxW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kltxW > :global(.__wab_flex-container) > picture > img,
.freeBox__kltxW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kltxW {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kltxW > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kltxW > :global(.__wab_flex-container) > *,
  .freeBox__kltxW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kltxW > :global(.__wab_flex-container) > picture > img,
  .freeBox__kltxW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__vQzwV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vQzwV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vQzwV > :global(.__wab_flex-container) > *,
.freeBox__vQzwV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vQzwV > :global(.__wab_flex-container) > picture > img,
.freeBox__vQzwV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBoxempty__vQzwVr8RwH > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__wSn8V {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.textempty__wSn8Vr8RwH {
  width: 100%;
  min-width: 0;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.cartItemempty:global(.__wab_instance) {
  display: none;
}
.freeBox__bzqCg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bzqCg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bzqCg > :global(.__wab_flex-container) > *,
.freeBox__bzqCg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bzqCg > :global(.__wab_flex-container) > picture > img,
.freeBox__bzqCg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__obkL1 {
  text-align: center;
}
.textempty__obkL1R8RwH {
  text-align: left;
}
.svg__xlGfS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qXyzb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7HvYs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ysKRu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__e0NC5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__e0NC5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__e0NC5 > :global(.__wab_flex-container) > *,
.freeBox__e0NC5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e0NC5 > :global(.__wab_flex-container) > picture > img,
.freeBox__e0NC5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__zxUl3 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__zxUl3 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zxUl3 > :global(.__wab_flex-container) > *,
.freeBox__zxUl3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zxUl3 > :global(.__wab_flex-container) > picture > img,
.freeBox__zxUl3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__sxWhq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__vol2D {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vol2D > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vol2D > :global(.__wab_flex-container) > *,
.freeBox__vol2D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vol2D > :global(.__wab_flex-container) > picture > img,
.freeBox__vol2D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__geBvR {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__iFb6F {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__hd6Y0 {
  color: #ffffff80;
}
.freeBox___8DeT {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__drsJ4 {
  color: var(--token-D6F2dtLQlrGD);
  text-align: right;
  font-weight: 600;
}
.freeBox__bmuZu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__zior7 {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__nsDnH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox___9FXC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__pkkJb {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__hyMEl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__vrcVh {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__reDah:global(.__wab_instance) {
  position: relative;
}
.svg__sdf48 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___2TJq {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__pSnEd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__s8N1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xyU6A {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__tcSar {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.text__t3HQq {
  color: #ffffff;
  text-align: right;
  font-weight: 600;
}
.button__sd7Jx:global(.__wab_instance) {
  position: relative;
}
.svg__knVoA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__iPyMc {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg___0BqTo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__mnFTo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mnFTo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mnFTo > :global(.__wab_flex-container) > *,
.freeBox__mnFTo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mnFTo > :global(.__wab_flex-container) > picture > img,
.freeBox__mnFTo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__y6Otn {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__qPqSg {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__qPqSg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qPqSg > :global(.__wab_flex-container) > *,
.freeBox__qPqSg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qPqSg > :global(.__wab_flex-container) > picture > img,
.freeBox__qPqSg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__ugIhm {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__nbU31 {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__ux4Tz {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__cW0Vy {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox__kbuM {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-D6F2dtLQlrGD);
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__kbuM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kbuM > :global(.__wab_flex-container) > *,
.freeBox__kbuM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kbuM > :global(.__wab_flex-container) > picture > img,
.freeBox__kbuM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbuM {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbuM > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbuM > :global(.__wab_flex-container) > *,
  .freeBox__kbuM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kbuM > :global(.__wab_flex-container) > picture > img,
  .freeBox__kbuM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__tXz75 {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__tXz75 > picture > img {
  object-fit: cover;
}
.freeBox___05Q6 {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___05Q6 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___05Q6 > :global(.__wab_flex-container) > *,
.freeBox___05Q6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___05Q6 > :global(.__wab_flex-container) > picture > img,
.freeBox___05Q6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___05Q6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___05Q6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___05Q6 > :global(.__wab_flex-container) > *,
  .freeBox___05Q6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___05Q6 > :global(.__wab_flex-container) > picture > img,
  .freeBox___05Q6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__ynJe2 {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ynJe2 {
    text-align: center;
  }
}
.button__ys8Cl:global(.__wab_instance) {
  position: relative;
}
.svg__k3Fm0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hyQl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
